.calendar-modal {
  width: 673px;
  height: 380px;
  background: #fff;
  position: absolute;
  top: 75px;
  right: -24px;
  padding: 24px;
  display: none;

  box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
  z-index: 99;
}
.calendar-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.react-calendar {
  /* width: 350px; */
  /* max-width: 100%; */
  background: white;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: none;
}
.react-calendar--doubleView {
  width: 624px;
  height: 296px;
  margin: 0 auto;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  height: 312px;
  width: 640px;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 312px;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  position: relative;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  width: 640px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.react-calendar__navigation button {
  min-width: 40px;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.react-calendar__navigation__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.react-calendar__navigation__label__divider {
  display: none;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.calendar-arrow {
  font-size: 18px;
  color: #c2c2c2;
}
.react-calendar__navigation__label__labelText--to {
  margin-right: 72px;
}
.react-calendar__navigation__label__labelText--from {
  margin-left: 72px;
}
.react-calendar__navigation button:enabled:hover > .calendar-arrow {
  color: #333;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: none;
}
/* .react-calendar__month-view__weekdays {
} */
.react-calendar__month-view__weekdays__weekday {
  font-size: 12px;
  line-height: 16px;
  color: #828282;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-calendar__month-view__days__day {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* .react-calendar__month-view__days__day--neighboringMonth {
  display: none;
} */

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 0;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 0;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: transparent;
  border-radius: 0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: var(--color-secondary);
  color: #333;
  border-radius: 50%;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}
.react-calendar__tile--hasActive {
  background: #76baff;
  border-radius: 50%;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
  border-radius: 50%;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 50%;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--color-primary);
  border-radius: 50%;
}

.react-calendar__tile--active {
  border-radius: 0;
  background-color: #f2f2f2;
  color: #333;
  font-weight: 400;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f2f2f2;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.react-calendar__tile--rangeEnd,
.react-calendar__tile--hoverEnd {
  background: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}
/* .react-calendar__tile--rangeBothEnds {
  background: red;
} */

/* .highlight {
  background: var(--color-primary);
  color: #fff;
} */

.passed {
  text-decoration: line-through;
  color: #000000;
  opacity: 0.2;
}

.calendar-btns-wrapper {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  align-self: flex-end;
}
.clear-dates {
  font-weight: 600;
  text-decoration: underline;
  margin-right: 20px;
  background: none;
}
.close-calendar {
  width: 67px;
  height: 32px;
  background: var(--color-primary);
  color: #fff;
}
.close-calendar:hover {
  box-shadow: 0 0 5px #333;
}

.error_modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(91, 100, 96, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.error_modal p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .calendar-modal {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
  }
  .calendar-modal-wrapper {
    display: flex;
    min-width: 300px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 50px;
  }
  .calendar-btns-wrapper {
    margin-top: 50px;
  }
  .react-calendar__navigation {
    width: 100%;
    height: 20px;
  }
  .error_modal {
    font-size: 18px;
    line-height: 16px;
  }
  .error_modal p {
    font-size: 18px;
    line-height: 16px;
  }
}
