.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.slider-wrapper {
  position: absolute;
  height: 120%;
  width: 120%;
  display: flex;
}

.slider-wrapper .image {
  width: 100%;
  height: 100%;
}

.hero-arrow-wrapper {
  width: 113px;
  height: 15px;
  position: relative;
  /* bottom: 250px;
  left: 600px; */
  z-index: 99;
  margin-bottom: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-arrow-btn {
  height: 15px;
  background: none;
  position: relative;
  transition: all 0.3s;
}
.hero-arrow-btn:hover {
  transform: translateX(10px);
}

.hero-arrow-btn:nth-last-child(2):hover {
  transform: translateX(-10px);
}

.slide {
  opacity: 0;
  transition: all 0.8s cubic-bezier(1, 0.5, 0.5, 1);
}

.slide.active {
  opacity: 1;
  transition: all 0.8s cubic-bezier(1, 0.5, 0.5, 1);
}

@media screen and (max-width: 767px) {
  .slider-container {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .slider-wrapper {
    position: absolute;
    height: 100vh;
    width: auto;
    display: flex;
  }

  .slider-wrapper .image {
    width: auto;
    object-fit: contain;
    height: 100vh;
  }
  .hero-arrow-wrapper {
    margin-bottom: 130px;
  }
}
