.section-container {
  width: 100%;
  margin-top: 150px;
}
.section-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 85%;
}

.section-suptitle {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.section-suptitle span {
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--color-secondary);
  margin-left: 30px;
}

.section-content {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: 134px;
  margin-top: 108px;
  overflow: hidden;
}
.section-title {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--color-primary);
  grid-row: 1 / span 2;
  width: 200px;
  /* margin-right: 134px; */
}

.section-desc {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-primary);
  width: 526px;
}
/* @media only screen and (max-width: 767px) {
  .section-container {
    width: 100%;
    margin-top: 100px;
  }
  .section-content {
    row-gap: 20px;
    column-gap: 0;
    margin-top: 68px;
  }
  .section-title {
    font-size: 24px;
    width: 100px;
    margin-right: 40px;
  }

  .section-desc {
    font-size: 14px;
    width: 426px;
  }
} */
@media only screen and (max-width: 767px) {
  .section-container {
    width: 100%;
    margin-top: 50px;
  }
  .section-suptitle {
    font-size: 24px;
  }
  .section-suptitle span {
    width: 50px;
    height: 2px;
    margin-left: 20px;
  }
  .section-content {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    column-gap: 0;
    margin-top: 48px;
  }
  .section-title {
    font-size: 22px;
    width: 200px;
    margin-right: 40px;
  }

  .section-desc {
    font-size: 14px;
    width: 100%;
    text-align: justify;
  }
}
