.video-container {
  width: 432px;
  height: 387px;
}
.video-wrapper {
  width: 432px;
  height: 387px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 40px;
  flex-wrap: wrap;
  background: none;
  /* transform: translateY(150%); */
  transition: all 0.3s ease-in-out;
  padding: 0 9px;
}
.controls_buttons {
  width: 340px;
  height: 32px;
  background: #1f2726;
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 2px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 0 9px;
}
.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-white);
  width: 65.76px;
  height: 40px;
  opacity: 0.8;
  background: #1f2726;
  border-radius: 5px;
  font-size: 22px;
}

/* .actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
} */

input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #666666;
  height: 12px;
  width: 226px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 10px;
  width: 4px;
  background-color: #fff;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  border-radius: 2px;
}

input[type="range"]::-moz-range-progress {
  background: white;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: var(--color-secondary);
}
input[type="range"]::-moz-range-track {
  background: red;
}

.volume-bar-wrapper {
  width: 23px;
  height: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 0 9px 0 12px;
}
.volume-line {
  display: block;
  width: 3px;
  height: 12px;
  background: #ccc;
  cursor: pointer;
}
.volume-line_active {
  background: #00acf2;
}

.video-quality-wrapper {
  position: relative;
  width: 34px;
  height: 18px;
  margin-right: 11px;
}
.video-quality-wrapper p {
  font-family: "Helvetica", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #00acf2;
  cursor: pointer;
}
.video-quality-options {
  list-style: none;
  font-family: "Helvetica", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  top: 66px;
  left: -5px;
  color: #fff;
  display: grid;
  row-gap: 2px;
  background: #1f2726;
  opacity: 0.8;
  transition: all 0.3s;
}
.video-quality-options li {
  background: #1f2726;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 0 5px;
  cursor: pointer;
}
.video-quality-options li:hover {
  opacity: 1;
}

.fullscreen-btn {
  background: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen-btn:hover {
  color: #00acf2;
}

@media screen and (max-width: 767px) {
  .video-container {
    width: 100%;
    height: auto;
  }
  .video-wrapper {
    width: 100%;
    height: 200px;
  }
  .controls {
    bottom: 10px;
    width: 100%;
    height: 30px;
    flex-wrap: nowrap;
    /* transform: translateY(150%); */
    padding: 0 9px;
  }
  .controls_buttons {
    width: 100%;
    height: 30px;
    background: #1f2726;
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 2px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding: 0 9px;
    margin-left: 10px;
  }
  .actions button {
    width: 30px;
    height: 30px;
    opacity: 0.8;
    font-size: 14px;
  }
  input[type="range"] {
    height: 8px;
    width: 170px;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 8px;
    width: 4px;
  }
}
