.payment_container {
  display: flex;
  justify-content: center;
}
.payment-wrapper {
  width: 1230px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 138px;
  margin: 100px 0 150px;
}

.back-to-booking-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 55px;
  margin-right: auto;
}
.back-to-booking-link span {
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 20px;
}
.cart-title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart-title-wrapper p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #333333;
}
.cart-title-wrapper p:last-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.payment-wrapper .cart-book-btn,
.payment-wrapper .cart-coupon-wrapper,
.payment-wrapper .cart-title {
  display: none;
}
.payment-wrapper .calendar-container {
  pointer-events: none;
}
.payment-wrapper form {
  display: grid;
  /* row-gap: 100px; */
}
.payment-section {
  width: 660px;
  margin-bottom: 100px;
}
.payment-section:nth-last-child(3) {
  margin-bottom: 50px;
}
.payment_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.phone-input-wrapper {
  display: grid;
  border: 0.7px solid #5b6460;
  position: relative;
  z-index: 99;
}
.PhoneInputInput {
  border: none;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  padding-left: 23px;
  position: relative;
  z-index: 99;
}
.invalid-phone .PhoneInputInput {
  padding-top: 16px;
  transition: all 0.2;
}

.phone-input-wrapper .placeholder,
.expiration_date-input-wrapper .placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #828282;
  padding: 0 16px;
  position: absolute;
  top: 16px;
  transition: all 0.3s;
  height: 18px;
  margin-left: 71px;
}
.phone-input-wrapper .placeholder_focused,
.expiration_date-input-wrapper .placeholder_focused {
  top: 8px;
  font-size: 8px;
}
.PhoneInputCountry {
  width: 71px;
  border-right: 0.7px solid #5b6460;
  background-color: #fff;
  justify-content: center;
}
.PhoneInputCountrySelectArrow {
  display: none;
}
.PhoneInput {
  width: 100%;
}
.phone-input-wrapper .placeholder span,
.expiration_date-input-wrapper .placeholder span {
  color: rgb(230, 34, 93);
}

.message-info .textarea-contact textarea {
  height: 100px;
}
.term_confirm_wrapper input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}
.unchecked {
  border: 0.7px solid #5b6460;
  color: #5b6460;
  transition: all 0.2s;
}
.unchecked:hover,
.checked:hover {
  box-shadow: 0 0 5px #5b6460;
}
.term_confirm_wrapper {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.term_confirm_wrapper p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333333;
  margin-left: 20px;
}
.term_confirm_wrapper p span {
  font-weight: 700;
  text-decoration-line: underline;
  color: #5b6460;
}
.payment-wrapper form .submit_button {
  width: 384px;
  height: 60px;
  background: #5b6460;
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.payment-wrapper form button:hover {
  box-shadow: 0 0 10px rgb(36, 36, 36);
}

/*payment*/
.card-info .booking-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment_icons {
  width: 184px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info_form .select_input-wrapper:first-child,
.card_number {
  grid-column: 1 / span 2;
}
.card_number {
  z-index: 80;
}
.card-info_form .select-options {
  overflow: hidden;
  width: 50%;
}

.expiration_date-input-wrapper {
  display: grid;
  border: 0.7px solid #5b6460;
  position: relative;
  z-index: 99;
}
@media screen and (max-width: 767px) {
  .payment-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0 80px;
    padding: 0 20px;
  }
  .payment-section {
    width: 100%;
    margin-bottom: 50px;
  }
  .payment-wrapper .cart-wrapper {
    display: none;
  }
  .payment_form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .back-to-booking-link {
    margin-bottom: 25px;
  }
  .payment-section:nth-last-child(3) {
    margin-bottom: 0;
  }
}
