.nav-items-wrapper {
  width: 491px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px 0 241px;
}
.nav-item {
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-black);
}
.nav-item:hover {
  text-decoration: underline;
}
