.footer-container {
  height: 477px;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wrapper {
  width: 1116px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

/* left content*/
.footer-newsletter {
  width: 432px;
  height: 277px;
}
.footer-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.footer-desc {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.7;
  width: 400px;
}

.footer-label {
  position: relative;
  display: block;
  width: 432px;
  margin: 40px 0 10px;
}

.footer-submit-btn svg {
  position: absolute;
  right: 0;
  bottom: 6px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 99;
}
.footer-submit-btn svg:hover {
  right: -10px;
}
.footer-input {
  height: 35px;
  width: 432px;
  border-bottom: 1px solid #efefef;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  position: relative;
}

.footer-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.footer-copyright {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #efefef;
  opacity: 0.7;
  margin-top: 70px;
}
/* right content*/
.footer-info-content {
  width: 478px;
  display: flex;
  flex-wrap: wrap;
}
.footer-info-item {
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  transition: all 0.3s;
}
.footer-info-item:hover {
  opacity: 1;
}
.footer-info-item:nth-last-child(3) {
  margin: 0 31px 0 33px;
}
.footer-payment-items {
  width: 297px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    height: auto;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 0 20px;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-newsletter {
    width: 100%;
    height: auto;
  }
  .footer-desc {
    font-size: 14px;
    width: 100%;
    line-height: 20px;
  }

  .footer-label {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  .footer-input {
    height: 35px;
    width: 100%;
    font-size: 14px;
  }
  .footer-input::placeholder {
    font-size: 14px;
  }
  .footer-copyright {
    font-size: 10px;
    line-height: 20px;
    margin-top: 0;
    position: absolute;
    bottom: 20px;
  }
  /* right content*/
  .footer-info-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 30px;
  }
  .footer-info-item {
    font-size: 12px;
    line-height: 24px;
  }
  .footer-info-item:nth-last-child(3) {
    margin: 0;
  }
  .footer-payment-items {
    width: 297px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }
}
