.area-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 0;
}
.hero-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
  margin: 15px 0 50px;
  display: flex;
  align-items: center;
}
.location-icon {
  margin-right: 6px;
}
.area-nav-btn {
  width: 180px;
  height: 55px;
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0.7px solid #ffffff;
  background: none;
}
.area-nav-btn:hover {
  background: var(--color-primary);
}

.area-wrapper .section-card-container:nth-last-child(7) .section-btns-wrapper {
  display: none;
}

.area-wrapper .section-card-container:nth-last-child(5) {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 100px;
}
.area-wrapper .section-card-container:nth-last-child(5) .section-card-content {
  grid-column: 2;
  grid-row: 2;
}
.area-wrapper .section-card-container:nth-last-child(5) .slide-container {
  grid-column: 1;
  grid-row: 2;
}

.activities {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
}

.area-wrapper .section-card-container:nth-last-child(2) .section-card-content,
.area-wrapper .section-card-container:nth-last-child(4) .section-card-content {
  order: -1;
}
.area-wrapper .section-card-container:nth-last-child(2) .activities,
.area-wrapper .section-card-container:nth-last-child(4) .activities,
.area-wrapper .section-card-container:nth-last-child(3) .activities {
  display: none;
}
