.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  color: #5b6460;
  width: 537px;
  height: 112px;
  margin-bottom: 100px;
}
.images-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.images-wrapper img {
  margin: 15px;
  object-fit: cover;
}
.images-wrapper .image-gallery-item-wrapper:nth-last-child(2) {
  order: 1;
}
.image-content {
  width: 432px;
  height: 387px;
  background: rgba(233, 236, 224.7);
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;
  margin: 15px;
  /* grid-column: 2 / span 1;
  grid-row: 2; */
}
.image-content-desc {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #333333;
  width: 320px;
  height: 144px;
}

@media screen and (max-width: 767px) {
  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .images-title {
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .images-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .image-gallery-item-wrapper {
    width: 100%;
  }
  .images-wrapper img {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .images-wrapper img:nth-last-child(2) {
    order: 1;
  }
  .image-content {
    width: 100%;
    order: 0;
    margin: 0;
  }
  .images-wrapper .image-gallery-item-wrapper:nth-last-child(2) {
    margin-bottom: 20px;
  }
}
