.cart-wrapper {
  width: 432px;
  height: 590px;
  border: 0.7px solid #5b6460;
  grid-column: 2 / span 1;
  grid-row: 1 / span 4;
  padding: 24px;
  color: #333333;
}
.cart-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}
.cart-title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}
.calendar-wrapper {
  width: 384px;
  height: 68.77px;
  border: 0.7px solid #5b6460;
}
.cart-book-btn {
  width: 384px;
  height: 60px;
  background: #5b6460;
  font-family: "DIN";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.cart-book-btn:hover {
  box-shadow: 0 0 10px #5b6460;
}
